/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(./images/goodsunsent.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* Header Styles */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
/*    background-color: rgba(255, 255, 255, 0.8); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 999;
  }
  /*
  .logo img {
    max-height: 50px;
  }*/

  .logo h2 {
    max-height: 50px;
    top: 0px;
    left: 20px;
    color: #ff7200;
    font-size: 40px;
    font-family: cursive;
  }
  
  nav ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  nav a:hover {
    color: #ff7200;
  }
  
  /* Main Content Styles */
  main {
    padding-top: 150px; /* Adjust this value to match the header height */
    padding-bottom: 2rem;
    overflow-y: auto;
    max-height: calc(100vh - 150px); /* Adjust this value to match the header height */
  }
  
  .content-wrapper {
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 32px;
  }

/* Table Style */

.my-table-container {
    padding-left: 20px;
    padding-right: 20px;
}

.my-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius:6px;
}

.my-table thead tr {
    background-color: #ff7200;
    color: #ffffff;
    text-align: left;
}

.my-table th,
.my-table td {
    padding: 12px 15px;
}

.my-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #feb273;
    color: #ffffff;
}

.my-table tbody tr:nth-of-type(even) {
    background-color: #fed4b1;
}

.my-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff7200;
}
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }